## Prerequisites
- Python 3.8+
- Git
- Kaggle account (to download `train.csv` and `test.csv`)

## Setup
1. **Clone the Repository**:
   ```bash
   git clone https://github.com/Souptik96/Machine-Learning-Predict-Calorie-Expenditure.git
   cd Machine-Learning-Predict-Calorie-Expenditure

## pip install -r requirements.txt
